@using Microsoft.AspNetCore.Http
@if (User.Identity.IsAuthenticated)
{
  <ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="Account" asp-action="EditProfile">Hello @User.Identity.Name!</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="SignOut">Sign out</a></li>
  </ul>
}
else
{
  <ul class="nav navbar-nav navbar-right">
    <li><a href='@Url.Action("SignIn", "Account", new { returnUrl = Url.ActionContext.HttpContext.Request.Query["returnUrl"]})'>Sign in</a></li>
    <li><a href='@Url.Action("InternalSignIn", "Account", new { returnUrl = Url.ActionContext.HttpContext.Request.Query["returnUrl"]})'>Internal Sign in</a></li>
  </ul>
}
